body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}
.color-choice{
    color: royalblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.divide-section{
    width: 100%;
    padding-left: 150px;
    padding-top: 100px;    
}
.divide-section img{  
    width: 50%;
}
.image{
    position: top;
    margin-top: -50px;
    padding-left: 100px;   
}
h1{ 
    font-size: 50px;
}
#heading-two{
    margin-top: -50px;
}
p{
    margin-top: -30px;
    padding-bottom: 10px;
    text-align: justify;
}
.button-link{
    background-color: rgb(6, 18, 185);
    padding: 15px 40px;
    color: snow;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}
.highlight-year{
    color: royalblue;
}
.modify-head{
    padding-left: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}  
.three-part{
   width: 25%; 
   padding-left: 50px; 
   
}
.three-part img{
    width: 60%;   
}
.part-modify{
    margin-left: 100px;
    margin-right: 100px; 
    padding: 5px 5px 5px; 
}
#back-color-one{
    border-radius: 25px;
    background-color: rgb(228, 241, 241);
    margin-right: 30px;
    padding-right: 35px;
    margin-left: 50px;
    padding: 30px;
}
#back-color-two{
    border-radius: 25px;
    background-color: rgb(236, 222, 224);
    margin-right: 30px;
    padding-right: 35px;
    padding: 30px;
}
#back-color-three{
    border-radius: 25px;
    background-color: rgb(236, 236, 204);
    padding-right: 35px;
    margin-right: 100px;
    padding: 30px;
}
.margin-modify{
    margin: 60px 60px 100px;
}