body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}
.color-choice{
    color: royalblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.divide-section{
    width: 100%;
    padding-left: 150px;
    padding-top: 100px;    
}
.divide-section img{  
    width: 60%;
}
.image{
    position: top;
    margin-top: -50px;
    padding-left: 100px;   
}
h1{ 
    font-size: 50px;
}
#heading-two{
    margin-top: -50px;
}
p{
    margin-top: -30px;
    padding-bottom: 10px;
    text-align: justify;
}
.button-link{
    background-color: rgb(6, 18, 185);
    padding: 15px 40px;
    color: snow;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}
.highlight-year{
    color: royalblue;
}
.modify-head{
    padding-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}  
.three-part{
   display: block;
   width: 25%; 
   padding-left: 50px; 
}
.three-part img{
    width: 50%;
}
.part-modify{
    margin-left: 200px;
    margin-right: 160px;  
}
.illustrator-edit{
    width: 10px;
}